html {
    background-color: #bbb;
    font-family: Arial, Helvetica, sans-serif;
}




#img_fish {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 200px;
    border: 5px solid black;
    position: static;
}

#modrynadpis {
    position: absolute;
    left: 100px;
    top: 50px;
    font-size: 28px;
    color: darkblue;
}